@font-face {
	font-family: 'open_sanslight';
	src: url('OpenSans-Light-webfont.eot');
	src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Light-webfont.woff') format('woff'),
	url('OpenSans-Light-webfont.woff2') format('woff2'),
	url('OpenSans-Light-webfont.ttf') format('truetype'),
	url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'open_sanslight';
	padding: 0;
	margin: 0;
	font-size: 13px;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

*:focus {
    outline: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 10px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .2s;
}

input:checked + .slider {
	background-color: #42f4a4;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(12px);
	-ms-transform: translateX(12px);
	transform: translateX(12px);
}
