
html, body {
	width: 100%;
	height: 100%;
	background-color: #190447;
	color: white;
	-webkit-app-region: drag !important;
}

#closeImg {
	position: absolute;
	top: 0px;
	right: 5px;
	filter: brightness(0.8);
}

#closeImg:hover {
	filter: brightness(1);
}

#saveConfig:hover {
	filter: brightness(0.5);
}

#bktbl1 {
	position: fixed;
	top: 50px;
	width: 400px;
	height: 20px;
	left: 10px;
	color: #79a9f7;
}

#bktbl2 {
	position: fixed;
	top: 140px;
	width: 400px;
	height: 20px;
	left: 10px;
	color: #79a9f7;
}

#bktbl3 {
	position: fixed;
	top: 340px;
	width: 200px;
	height: 20px;
	left: 10px;
	color: #79a9f7;
	white-space: nowrap;
}

#rendererList, #langList {
	background-color: black;
	color: white;
	margin-left: 7px;
	width: 160px;
}

#version {
	position: fixed;
	top: 15px;
	left: 15px;
	width: 20px;
	color: grey;
}

.txtBox {
	width: 150px;
	background-color: #78acff;
	border: 0;
	padding: 5px;
	text-transform: uppercase;
}

.alignRight {
	text-align: right;
	padding-right: 5px;
}

.button {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	padding: 3px;
	background: none;
	cursor:pointer;
	text-align: center;
}

#saveConfig {
	position: fixed;
	top: 415px;
	left: 15px;
	width: 50px;
	height: 20px;
	background-color: #0066ff;
	text-align: center;
	padding: 3px;
}

::placeholder {
	color: black;
}
