
html, body {
	width: 100%;
	height: 100%;
	background-color: #060621;
	color: white;
	-webkit-app-region: drag !important;
}

#prevTxt {
	position: fixed;
	top: 125px;
	left: 15px;
	color: #79a9f7;
}

#slidePreview {
	position: fixed;
	top: 145px;
	left: 15px;
    width: 200px;
	height: 125px;
	border: 3px solid rgb(0, 102, 255);
}

#closeImg {
	position: absolute;
	top: 0px;
	right: 5px;
	filter: brightness(0.8);
}

#closeImg:hover {
	filter: brightness(1);
}

#tip, #bigIconImg {
	-webkit-app-region: drag !important;
}

#tip {
	position: fixed;
	left: 15px;
	top: 60px;
}

#bigIconImg {
	position: fixed;
	top: 10px;
	left: 10px;
}

#bktbl {
	position: fixed;
	top: 100px;
	width: 200px;
	height: 20px;
	left: 10px;
	color: #79a9f7;
}

