
html, body {
	width: 100%;
	height: 100%;
	background-color: #051336;
}

#exit {
	position: absolute;
	top: 0px;
	right: 5px;
}

#minimize {
	position: absolute;
	top: 0px;
	right: 82px;
}

#max_restore {
	position: absolute;
	top: 0px;
	right: 55px;
}

#exit, #minimize, #max_restore {
	filter: brightness(0.8);
}

#exit:hover, #minimize:hover, #max_restore:hover {
	filter: brightness(1);
}

#bktbl {
	width: 400px;
	color: #78e8f7;
}

#reloadReq {
	color: yellow;
	display: none;
}

#top {
	position: fixed;
	top: 0px;
	height: 37px;
	width: 100%;
	background-color: #000c18;
}

#top2 {
	position: fixed;
	top: 40px;
	height: 37px;
	right: 30px;
	width: 100%;
}

#fullblack {
	position: fixed !important;
	top: 37px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black !important;
	-webkit-filter: opacity(0.5);
	display: none;
}

.combobox {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	width: 600px;
}

.highlight {
	color: #42f4a4;
}

#left {
	position: fixed;
	clear: center;
	float: center;
	text-align: left;
	padding: 10px;
	top: 37px;
	background-color: #051336;
	width:300px;
	height:100%;
	color: white;
}

#right {
	position: fixed;
	clear: center;
	float: center;
	align: left;
	padding:10px;
	left: 310px;
	top: 57px;
	background-color: #051336;
	width:100%;
	height:100%;
	color: white;
}

#right img {
    width:400px;
	height: 250px;
	background-image: url('null_slide.png');
}

#slide_cnt, #progress, #current_time {
	display:inline;
}

#progress, #current_time {
	position: relative;
	margin-left: 20px;
}

#below {
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	top: 470px;
	padding-left: 10px;
	overflow-x: hidden;
    overflow-y: scroll;
	white-space: nowrap;
}

#below {
	background-color: #060621;
	color: white;
}

#below img {
	height: 90px;
	width: 160px;
	background-color: black;
	/*border: 2px solid black;*/
}

.menu_item {
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
	cursor:pointer;
}

.menu_item_sec {
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
}

.menu_item_lv1 {
	color: white;
	font-size: 15px;
	padding-left: 20px;
	padding-bottom: 10px;
	cursor:pointer;
}

.button {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	padding: 2px;
	background: none;
	cursor:pointer;
}

.abox {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	width: 500px;
	background: none;
	outline:0px;
}

.bbox {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	width: 500px;
	background: none;
	outline:0px;
}

.checkbox {
	filter: invert(100%) hue-rotate(18deg) brightness(1.7);
	width: 15px;
	height: 15px;
}

.group_title {
	display: none;
}

.green_small_txt {
	color: #42f4a4;
	font-size: smaller;
}

.checkbox_txt_disabled {
	color: grey;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
