
html, body {
	width: 100%;
	height: 100%;
	background-color: #051336;
}

.button {
	color: #bbaeff;
	font-weight: bold;
	border-color: black;
	border-width: 2px 2px 2px 2px;
	font-size: 20px;
	text-align: center;
	border-style: solid;
	padding: 2px;
	background: rgb(0, 102, 255);
	cursor:pointer;
	border-radius: 10%;
}

.button2 {
	color: #bbaeff;
	font-weight: normal;
	border-color: black;
	border-width: 2px 2px 2px 2px;
	font-size: 13px;
	text-align: center;
	border-style: solid;
	padding: 2px;
	background: rgb(0, 102, 255);
	cursor:pointer;
}

#exit {
	position: absolute;
	top: 0px;
	right: 5px;
}

#minimize {
	position: absolute;
	top: 0px;
	right: 82px;
}

#max_restore {
	position: absolute;
	top: 0px;
	right: 55px;
}

#exit, #minimize, #max_restore {
	filter: brightness(0.8);
}

#exit:hover, #minimize:hover, #max_restore:hover {
	filter: brightness(1);
}

#bktbl {
	position: fixed;
	top: 50px;
	left: 120px;
	width: 250px;
	color: #79a9f7;
}

#bktbl2 {
	position: fixed;
	top: 50px;
	left: 420px;
	width: 250px;
	color: #79a9f7;
}

#top {
	position: fixed;
	top: 1px;
	left: 1px;
	height: 37px;
	width: 100%;
	background-color: #000c18;
}

#fullblack {
	position: fixed !important;
	top: 37px;
	left: 1px;
	width: 100%;
	height: 100%;
	background-color: black !important;
	-webkit-filter: opacity(0.5);
	display: none;
}

.hiddenSlide {
	filter: grayscale(1);
}

.transSlide img {
	border-bottom: 2px solid red;
	margin-bottom: -2px;
}

.combobox {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	width: 600px;
}

.highlight {
	color: #42f4a4;
}

#rest {
	position: fixed;
	top: 38px;
	width: 100%;
	height: 100%;
}

#load_pptx {
	position: fixed;
	left: 5px;
	top: 50px;
	margin-bottom: 20px;
}

#edit_pptx {
	position: fixed;
	left: 420px;
	top: 92px;
	width: 52px;
	height: 20px;
	margin-bottom: 20px;
	background-color: #a6200c;
	color: white;
}

#reload {
	position: fixed;
	left: 478px;
	top: 92px;
	width: 71px;
	height: 20px;
	margin-bottom: 20px;
}

#config {
	position: fixed;
	left: 555px;
	top: 92px;
	width: 80px;
	height: 20px;
	margin-bottom: 20px;
}

#slideInfo {
	position: fixed;
	top: 47px;
	right: 20px;
	color: #79a9f7;
}

.slideInfo {
	font-size: 20px;
}


#buttons {
	height: 35px;
	padding: 10px;
	white-space: nowrap;
}

#rest1 {
	background-color: #000824;
	width: 100%;
	height: 85px;
}

#rest2 {
	position: fixed;
	top: 125px;
	width: 100%;
	height: 100%;
}

#right {
	position: absolute;
	left: 3px;
	border: none;
	color: #79a9f7;
	width: 100%;
	text-align: left;
	align: left;
	font-weight: bold;
}

#right img {
	position: relative;
	background-image: url('null_slide.png');
	background-repeat: repeat;
	width: 100%;
}

#slide_cnt, #progress, #current_time {
	display:inline;
}

#ppt_filename {
	position: fixed;
	top: 5px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: #79a9f7;
	-webkit-app-region: drag;
}

#slide_res {
	position: fixed;
	top: 1px;
	min-width: 50px;
	right: 120px;
	background-color: #79a9f7;
	color: black;
	text-align: center;
	-webkit-app-region: drag;
	font-size: 12.5px;
	padding: 2px;
}

#monitorControl {
	position: fixed;
	top: 78px;
	right: 22px;
	width: 270px;
	height: 40px;
	color: #79a9f7;
}

#monitorControlText {
	position: absolute;
	top: 0px;
	left: 0px;
}

#monitorAlphaText {
	position: absolute;
	top: 20px;
	left: 40px;
	display: inline-block;
}

#setMonitor {
	position: absolute;
	top: 23px;
	left: 125px;
	background-color: #0066ff;
	width: 145px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
}

#monitor_trans_switch {
	position: relative;
	top: 20px;
	left: 80px;
}

#monitorList {
	position: absolute;
	top: 0px;
	left: 125px;
	background-color: black;
	color: white;
	width: 145px;
	display: inline-block;
	height: 22px;
}

#progress, #current_time {
	position: relative;
	margin-left: 40px;
}

#below {
	position: relative;
	height: 100%;
	left: -4px;
	bottom: 1px;
	right: 1px;
	padding-left: 0px;
	overflow-x: hidden;
    overflow-y: scroll;
	background-color: #060621;
}

#below img {
	height: 100px;
	width: 180px;
	background-color: black;
	/*border: 2px solid black;*/
}

#resWidth,
#resHeight {
	width: 55px;
	white-space: nowrap;
	border-bottom: 1px solid #79a9f7;
	border-left: none;
	border-top: none;
	border-right: none;
	background: none;
	height: 22px;
	font-size: 15px;
	color: #79a9f7;
}

#resWidth {
	text-align: right;
}

#setRes {
	background-color: #0066ff;
	width: 145px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
}

#listRes {
	background-color: #0066ff;
	display: inline-block;
	text-align: center;
	width: 18px;
	cursor:pointer;
}

#listResList {
	background-color: black;
	color: white;
	width: 145px;
	display: inline-block;
	height: 22px;
}

#blk {
	width: 35px;
	background: black;
}

#wht {
	width: 35px;
	background: #c1daff;
}

#trn {
	width: 35px;
	filter: brightness(0.8);
}

#empty {
	width: 35px;
	height: 35px;
	opacity: 0;
	cursor: auto;
}

#smaller {
	width: 35px;
	height: 35px;
	background-image: url('smaller.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 23px;
}

#bigger {
	width: 35px;
	height: 35px;
	background-image: url('bigger.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 23px;
}

#prev:hover, #next:hover, #cancel:hover,
#load_pptx:hover, #blk:hover, #wht:hover, #trn:hover,
#edit_pptx:hover, #reload:hover, #setRes:hover, #setMonitor:hover,
#listRes:hover, #config:hover, #smaller:hover, #bigger:hover {
	filter: brightness(0.5);
}

#loadingTxt {
	font-size: 20px;
	text-align: center;
	color: white;
}

#cancel {
	text-align: center;
}

.cancelBox {
	position: fixed;
	display: none;
	top: 250px;
	left: 1px;
	width: 100%;
	height: 300px;
}

.abox {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	width: 500px;
	background: none;
	outline:0px;
}

.bbox {
	color: #42f4a4;
	border-color: #42f4a4;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	width: 500px;
	background: none;
	outline:0px;
}

.checkbox {
	filter: invert(100%) hue-rotate(18deg) brightness(1.7);
	width: 15px;
	height: 15px;
}

.group_title {
	display: none;
}

.green_small_txt {
	color: #42f4a4;
	font-size: smaller;
}

.checkbox_txt_disabled {
	color: grey;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
